@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/noto-sans-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-v11-latin-regular.woff2") format("woff2"), url("../fonts/noto-sans-v11-latin-regular.woff") format("woff"), url("../fonts/noto-sans-v11-latin-regular.ttf") format("truetype"), url("../fonts/noto-sans-v11-latin-regular.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Recoleta-SemiBold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/noto-sans-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Recoleta-SemiBold.woff2") format("woff2"), url("../fonts/Recoleta-SemiBold.woff") format("woff"), url("../fonts/Recoleta-SemiBold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  color: #163A24;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}
